fastapi[standard]
uvicorn
python-dotenv
supabase
python-multipart
numpy
huggingface-hub
sentence-transformers
transformers
openai
vecs
langchain[openai]
langchain_community 
langchain_openai
langchain_text_splitters
langgraph
langsmith
pypdf
openai
sqlalchemy
alembic
pydantic
pydantic-settings
asyncpg
pgvector
greenlet
psycopg2-binary